<!DOCTYPE html>
<html>
<head>
  <title>Polymorphism</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
  	<div>
  		<ul>
  			<%= link_to "Article", articles_path, class: "btn btn-small" %>
    		<%= link_to "Photo", photos_path, class: "btn btn-small" %>
    		<%= link_to "Event", events_path, class: "btn btn-small" %>
  		<ul>
		</div>
	</header>

<%= yield %>

</body>
</html>
